div.grid_container {
    width: 40rem;
    height: 20rem;
    display: grid;
    grid-template-columns: 14% 14% 14% 14% 14% 14%;
    grid-template-rows: 12% 12% 12% 12% 12% 12%;
    background-color: rgb(253, 253, 253);
    gap: 1rem;
    padding: 5px;
    border: 5px solid black;
    justify-content: center;
}

.grid_item {
    width: 100%;
    text-align: center;
    background-color: gold;
    outline: 1px solid rgba(0, 0, 0, 0.8);
    border: 3px solid black;
}

/* .grid_item_small, .grid_item_middle, .grid_item_big {
    width: 100%;
    gap: 1rem;
    text-align: center;
    background-color: rgb(121, 106, 20);
    outline: 1px solid rgba(0, 0, 0, 0.8);
}

.grid_item_small {
    height: 10%;
}
.grid_item_middle {
    height: 20%;
}
.grid_item_big {
    height: 30%;
} */

/* 第二行 从第一列 */
/* .item:nth-child(1) {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rebeccapurple;
} */

.grid_item:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    background-color: rgb(121, 106, 20);
}

.grid_item:nth-child(2) {
    grid-row-start: 3;
    grid-column-start: 1;
}

.grid_item:nth-child(3) {
    grid-row-start: 4;
    grid-row-end: 7;
    grid-column-start: 1;
    background-color: rgb(83, 71, 5);
}

.grid_item:nth-child(4) {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    background-color: rgb(83, 71, 5);
}

.grid_item:nth-child(5) {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 2;
    background-color: rgb(121, 106, 20);
}

.grid_item:nth-child(6) {
    grid-row-start: 6;
    grid-column-start: 2;
}

.grid_item:nth-child(7) {
    grid-row-start: 1;
    grid-column-start: 3;
}

.grid_item:nth-child(8) {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 3;
    background-color: rgb(83, 71, 5);
}

.grid_item:nth-child(9) {
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 3;
    background-color: rgb(121, 106, 20);
}

.grid_item:nth-child(10) {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
    background-color: rgb(121, 106, 20);
}

.grid_item:nth-child(11) {
    grid-row-start: 3;
    grid-column-start: 4;
}

.grid_item:nth-child(12) {
    grid-row-start: 4;
    grid-row-end: 7;
    grid-column-start: 4;
    background-color: rgb(83, 71, 5);
}

.grid_item:nth-child(13) {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 5;
    background-color: rgb(83, 71, 5);
}

.grid_item:nth-child(14) {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 5;
    background-color: rgb(121, 106, 20);
}

.grid_item:nth-child(15) {
    grid-row-start: 6;
    grid-column-start: 5;
}

.grid_item:nth-child(16) {
    grid-row-start: 1;
    grid-column-start: 6;
}

.grid_item:nth-child(17) {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 6;
    background-color: rgb(83, 71, 5);
}

.grid_item:nth-child(18) {
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 6;
    background-color: rgb(121, 106, 20);
}